body
{
    background: rgb(123,4,184);
    background: linear-gradient(90deg, rgba(123,4,184,1) 0%, rgba(216,54,147,1) 0%, rgba(253,98,1,1) 34%, rgba(0,253,106,1) 100%);
    background-size: cover;
}
.object_names
{
    border-radius: 15px;
    color: black;
    background-color: white;
    text-align: center;
    width: 30%;
    border-color: transparent;
    font-weight: bold;
    height: 33px;
}
h2
{
    font-weight: bold;
}